
.custom-button {
    background-color: white;
    border: 1px #ee82ee solid;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.custom-button:hover{
    background-color: rgb(240, 154, 240);
    color: white;
}

